.App{
  font-family: 'Charter';
}

.navbar-black{
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.6em;
  padding: 10px;
  height: 6vh;
}
.navbar-logo{
  height: 120px;
  position: relative;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  min-width: 80vw;
  padding: 10vh 0 20vh 0;
  background: white;
  min-height: 100vh;
}

.title{
  max-width: 10em;
  font-size: 3em;
}

.panel{
  max-width: 90vw;
  margin-left: 5vw;
  color: black;
}
.panel-right{
  max-width: 90vw;
  margin-right: 5vw;
}


.cover-pic{
  height: 50vh;
}

body{
  background-color: #F5EFEB;
}

.centre-row{
  display:flex;
  justify-content: center;
}

.p-text{
  max-width: 30em;
}

@media (max-width: 1000px){
  .row{
    flex-direction: column;
  } 
}

@media (max-width: 760px){
  .title{
    font-size: 2.1em;
    max-width: 10em;
  } 
  .p-text{
    max-width: 21em;
  }
  .row{
    padding-top: 15vh;
  }
}

/* MAILCHIMP */
#mc_embed_signup{
  background:#fff; clear:left; font:14px "Charter",Arial,sans-serif; width:100%;
}

#mc_embed_signup input.email{
  background:#fff;font:14px "Charter",Arial,sans-serif;
}
       